@model VerticalculoWebsite.Models.NoticiasEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NoticiasEntity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CorpoNoticia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorpoNoticia)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NoticiaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
