@{
    ViewBag.Title = "ManageUsers";
}

<h2>Manage User Roles</h2>
    @Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

<h2>Role Add to User</h2>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        @ViewBag.Roles

    </p>

    <input type="submit" value="Save" />
}
<hr />
<h3>Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Username : @Html.TextBox("UserName")
        <input type="submit" value="Get Roles for this User" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Definir Tipo de Utilizador</h3>

@using (Html.BeginForm("SetRoleForUser", "Management"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : 
        <select name="userList">
            @foreach (string item in ViewBag.Users)
            {

                <option value="@item">
                    @item
                </option>
            }
        </select>

        Role: <select name="roleList">
            @foreach (SelectListItem item in ViewBag.Roles)
            {
                <option value="@item.Value">
                    @item.Text
                </option>
            }
        </select>
       

    </p>

    <input type="submit" value="Guardar" />
}