@model IEnumerable<VerticalculoWebsite.Models.UserProfile>

@{
    ViewBag.Title = "Gerir Utilizadores";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            Id
        </th>
        <th>
            Username
        </th>
        <th>
            Acoes
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Management", new { id=item.UserId }, null) |
            @Html.ActionLink("Delete", "Delete", "Management", new { id=item.UserId },null)
        </td>
    </tr>
}

</table>
