@{
    ViewBag.Title = "Sobre Nós";
    ViewBag.Message = "Conheça de onde vimos, para saber onde vamos";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1> <br/>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>Esta pagina ainda se encontra em construçao, mas será alvo de quaisquer informações respeitantes à empresa Verticalculo (Historia, Funçoes, etc)</p>
</article>

<aside>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>