@model VerticalculoWebsite.Models.LocalPasswordModel

<h3>Mudar a Palavra-Passe</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Mudar a Palavra-Passe</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword, "Palavra-Passe Antiga")
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword, "Palavra-Passe Nova")
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, "Confirmar Palavra-Passe")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Mudar Palavra-Passe" />
    </fieldset>
}
