@model VerticalculoWebsite.Models.LoginModel

@{
    ViewBag.Title = "Inicio de Sessão";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
<h3>Utilize uma conta local para iniciar Sessão</h3>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formolário de Inicio de Sessão</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName, "Nome de Utilizador")
                <br/>
                @Html.TextBoxFor(m => m.UserName)
                <span style="font-size:13px">
                    @Html.ValidationMessageFor(m => m.UserName, "Por favor insira o seu Nome de Utilizador")
                </span>
            </li>
            <li>
                @Html.LabelFor(m => m.Password, "Palavra-Passe")
                <br />
                @Html.PasswordFor(m => m.Password)
                <span style="font-size:13px">
                    @Html.ValidationMessageFor(m => m.Password, "Por favor insira a sua Palavra-Passe")
                </span>
            </li>
            <li>
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox"})
                @Html.CheckBoxFor(m => m.RememberMe)
            </li>
        </ol>
        <input type="submit" value="Entrar" />
    </fieldset>
    <p>
        @Html.ActionLink("Registe-se", "Register") se ainda não possui uma conta
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
