@model VerticalculoWebsite.Models.RegisterModel
@{
    ViewBag.Title = "Registe-se";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2> e crie a sua conta</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulário de Registo</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName, "Nome de Utilizador")
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, "Palavra-Passe")
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, "Confirmar Palavra-Passe")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Registar" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
